#item1{
    background-image: url(image/fvdd.jpg);
    height: 450px;
    
    font-size: 2em;
}
.centre{
    text-align: center;
}
li{
    display:inline-block;
    padding: 20px;
}
nav{
    background-color:#f37930;
    margin-bottom: 4em;
}
 
nav ul li a {
    text-decoration: none;
    font-size: larger;
    color: black;
}
nav ul li:hover{
    color: #f37930;
    background-color:blanchedalmond ;
    transition: 1s all ;
}

}
.voir{
    background-color: rgba(243, 121, 48, 0.3) ;
    padding-bottom: 40px;
    margin-top: 0px;
}
body{
    background-image: url(image/fond.jpg);
    background-attachment: fixed;
}
footer{
    background-color: #f37930;
    padding: 5px;

}
.block{
    display: inline-block;
    
    margin-top: 1.5em;
    border-bottom: 3px solid;
    padding-bottom: 1.5em;

}

.accu{
    
    float: left;
}
.tout{
    margin-left: 15em;
    margin-right: 15em;
    t(ext-align: center;
  
}

.tout {
    font-size: 2em;
    padding-left: 20px;
}

.k{
    font-size: 15px;
}

